.inforamtion-weather-now {
  display: flex;
  justify-content: center;
  height: 30%;
  width: 100%;
  align-self: flex-end;
  background-image: url(../../statics/assets/images/bottom-image-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  order: 2;
}

.weather-week__buttons {
  align-self: center;
}
//Adaptive

@media all and (max-width: 1200px) {
  .inforamtion-weather-now {
    height: 35%;
  }
}

@media all and (max-width: 1000px) {
  .inforamtion-weather-now {
    height: 50%;
    align-items: center;
  }
}

@media all and (max-width: 970px) {
  .inforamtion-weather-now {
    background-size: 200%;
    height: 60%;
  }
}

@media all and (min-width: 760px) {
  .inforamtion-weather-now {
    height: 40%;
  }
}
