.inforamtion-weather-now {
  display: flex;
  justify-content: center;
  height: 30%;
  width: 100%;
  align-self: flex-end;
  background-image: url(../../statics/assets/images/bottom-image-background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  order: 2;
  .weather-week {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .weather-week-container {
      display: flex;
      height: 200px;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
    }
    &__today {
      width: 280px;
      justify-content: space-evenly;
      display: flex;
    }
    &__day {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      &_container {
        display: flex;
        flex-direction: column;
      }
      &_main-name {
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 17px;
        padding-right: 17px;
        border-radius: 50px;
        background: #272424a1;
        font-size: 28px;
      }
      &_main-degree {
        align-self: center;
        font-size: 72px;
      }
      &_main-icon {
        width: 126px;
        height: 126px;
      }
      &_name {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 50px;
        background: #272424a1;
        font-size: 22px;
      }
      &_degree {
        font-size: 34px;
      }
      &_icon {
        width: 64px;
        height: 64px;
      }
    }
    &__buttons {
      flex-direction: column;
      display: flex;
    }
  }
}

//Adaptive
@media screen and (max-width: 1800px) {
  .inforamtion-weather-now {
    .weather-week {
      &__today {
        width: 210px;
        justify-content: space-between;
      }
      &__day {
        justify-content: space-evenly;
        &_container {
          .weather-week__day_main-degree {
            padding-top: 10px;
          }
        }
        &_main-name {
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 15px;
          padding-right: 15px;
          font-size: 24px;
        }
        &_main-degree {
          font-size: 54px;
        }
        &_main-icon {
          width: 96px;
          height: 96px;
        }
        &_name {
          padding-top: 4px;
          padding-bottom: 4px;
          padding-left: 13px;
          padding-right: 13px;
          font-size: 18px;
        }
        &_degree {
          font-size: 28px;
        }
        &_icon {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .inforamtion-weather-now {
    .weather-week {
      &__today {
        width: 190px;
        justify-content: space-between;
      }
      &__day {
        &_main-name {
          font-size: 23px;
        }
        &_main-degree {
          font-size: 46px;
        }
        &_main-icon {
          width: 78px;
          height: 78px;
        }
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .inforamtion-weather-now {
    height: 35%;
    .weather-week {
      .weather-week-container {
        height: 110%;
      }
      &__today {
        width: 110px;
        height: 200px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
      }
      &__day {
        height: 90%;
        &_main-name {
          font-size: 23px;
        }
        &_main-degree {
          font-size: 46px;
        }
        &_main-icon {
          align-self: center;
          width: 72px;
          height: 72px;
        }
      }
    }
  }
}
