html,
body {
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1260px;
}
html {
  box-sizing: border-box;
}

*,
*::after *::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 100%;
  font-weight: normal;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

//Adaptive

@media screen and (max-width: 1800px) {
  .container {
    width: 1000px;
  }
}

@media screen and (max-width: 1550px) {
  .container {
    width: 950px;
  }
}

@media screen and (max-width: 1450px) and (min-width: 1320px) {
  .container {
    width: 850px;
  }
}

@media screen and (max-width: 1320px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 1170px) {
  .container {
    width: 700px;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    width: 600px;
  }
}

@media screen and (max-width: 870px) {
  .container {
    width: 520px;
  }
}

@media screen and (max-width: 760px) {
  .container {
    width: 480px;
  }
}

@media screen and (max-width: 720px) {
  .container {
    width: 460px;
  }
}

@media screen and (max-width: 670px) {
  .container {
    width: 360px;
  }
}

@media screen and (max-width: 520px) {
  .container {
    width: 300px;
  }
}
